extends base

block content
  main.main
    .login-form
      h2.heading-secondary(style='margin-bottom: 1rem') Password Reset
      .form__label(style='margin-bottom: 3rem') We will send you an email that will reset your password.
      form#form-forgotPassword.form
        .form__group
          label.form__label(for='email') Email address
          input#email-forgotPassword.form__input(
            type='email',
            placeholder='you@example.com',
            required
          )
        .form__group
          button.btn.btn--green Submit
