extends base

block content
  main.main
    .login-form
      h2.heading-secondary.ma-bt-lg Reset Password
      form#formResetPassword.form
        .form__group
          label.form__label(for='password') New Password
          input#reset-new-password.form__input(type='password', minlength='8')
        .form__group
          label.form__label(for='password') Confirm New Password
          input#reset-new-confirmPassword.form__input(
            type='password',
            minlength='8'
          ) 
        .form__group
          button#resetPasswordBtn.btn.btn--green Submit
