extends base

block content
  main.main
    #formSignup.login-form
      h2.heading-secondary.ma-bt-lg Account Details
      form.form
        .form__group
          label.form__label(for='text') Name
          input#signup-name.form__input(type='text')
        .form__group
          label.form__label(for='email') Email Address
          input#signup-email.form__input(type='email')
        .form__group
          label.form__label(for='password') Password
          input#signup-password.form__input(type='password', minlength='8')
        .form__group
          label.form__label(for='password') Confirm Password
          input#signup-confirmPassword.form__input(
            type='password',
            minlength='8'
          ) 
        .form__group
          button#signupBtn.btn.btn--green Signup
