extends base

block content
  main.main
    .login-form
      h2.heading-secondary(style='margin-bottom: 1rem') Email Sent!
      .form__label(style='margin-bottom: 3rem') Please check your inbox for the email.
